.dialog {
    font-size: 18px;
    margin: 20px;
    text-align: left;
}

.dialog a {
    display: block;
    color: black;
    text-decoration: none;
}

.dialog a:hover {
  color: #34B1DA;
}

.dialog a.active {
    color: #34B1DA;
}






